{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Letter sent" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mt-3 white-text">
            <div class="card-body">
                <h5 class="card-title">{% trans "Letter sent" %}</h5>
                <p class="card-text"> 
                    {% trans "We have sent you instructions on how to set a new password to the email address you provided." %}
                    {% trans "You should receive it soon." %}
                    {% trans "If you do not receive an email, please make sure you enter the email address you registered with and check your spam folder." %}.
                </p>
                <h6 class="card-subtitle text-muted"><i>{% trans "You can close this tab" %}</i></h6>
                <a href="/" class="mt-3 btn btn-outline-primary w-100 rounded">{% trans "To main" %}</a>
            </div>
        </div>
    </div>
{% endblock %}
