{% extends 'base.html' %}

{% load static widget_tweaks i18n %}

{% block title %}{% trans "New Password" %}{% endblock %}

{% block content %}
    {% if validlink %}
        <div class='container'>
            
            <div class="white-text text-center mt-3 mb-3 fs-5">
                {% trans "Please enter your new password twice so we can verify it is spelled correctly." %}.
            </div>

            <div class="card center white-text">
                <div class="card-header fs-5 text-center">{% trans "New Password" %}</div>
                <div class="card-body center w-85">
                    <form method="post" id="NPForm">{% csrf_token %}

                        <div class="mb-3">
                            <label for="{{ form.new_password1.id_for_label }}" class="form-label">{{ form.new_password1.label }}</label>
                            {% render_field form.new_password1 class="form-control" type='password' autocomplete='new-password' %}
                            <div class="errorlist" id="error_{{ form.new_password1.id_for_label }}"></div>
                        </div>
                        
                        <div class="mb-3">
                            <label for="{{ form.new_password2.id_for_label }}" class="form-label">{{ form.new_password2.label }}</label>
                            {% render_field form.new_password2 class="form-control" type='password' autocomplete='new-password' %}
                            <div class="errorlist" id="error_{{ form.new_password2.id_for_label }}"></div>
                        </div>

                    </form>
                    <button type="button" class="w-100 mt-1 btn btn-outline-primary rounded" id="NPSubmit">{% trans "Change password" %}</button>
                </div>
            </div>
    {% else %}
        <div class="container">
            <div class="card white-text mt-3">
                <div class="card-body">
                    <h5 class="card-title">{% trans "Invalid URL" %}</h5>
                    <p class="card-text">
                        {% trans "The password reset link is incorrect, it may have already been used. Please request a password change again." %}
                    </p>
                    <a href="/" class="btn w-100 btn-outline-primary">{% trans "To main" %}</a>
                </div>
            </div>        
        </div>
    {% endif %}
    <script src="{% static 'js/new_passwords.js' %}"></script>
{% endblock %}
