{% load i18n %}

{% autoescape off %}
    <div style="margin-left: auto; margin-right: auto; border: 1px blueviolet solid; border-radius: 10px; width: 80%; height: auto; padding: 4%; text-align: justify; max-width: 500px;">
        <h2 style="text-align: center; margin-top: 0;">DJAuth (TEST)</h2>
        <hr style="border: 1px rgba(137, 43, 226, 0.466) solid;">
        <h4 style="margin-top: 0;">
            {% trans "You’re receiving this email because you requested a password reset for your user account at" %} 
            <a style="text-decoration: none; color: rgb(137, 43, 226);" href="{{ site_name }}">DJAuth</a>.
        </h4>
        <p style="margin-top: 0;">{% trans "Please go to the following page and choose a new password:" %}
            {% block reset_link %}
                <a style="text-decoration: none; color: rgb(137, 43, 226);" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
                    {% trans 'Change password' %}
                </a>
            {% endblock %}
        </p>
        <p style="font-size: 14px;">
            {% trans "Your username, in case you’ve forgotten:" %} {{ user.get_username }}.
            {% trans "Thanks for using our site!" %}
        </p>

        <div class="text-align: center;"><i>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</i></div>

    </div>
{% endautoescape %}
