{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block content %}
    <div class='container'>
        <div class="card white-text mt-3">
            <div class="card-body">
                <h5 class="card-title">{% trans "Password recovery completed" %}</h5>
                <p class="card-text">{% trans "Your password has been saved. Now you can login" %}.</p>
                <a href="{% url 'login' %}" class="btn w-100 btn-outline-primary rounded">{% trans "Log In" %}</a>
            </div>
        </div>
    </div>
{% endblock %}
