{% load static widget_tweaks i18n %}

<button id="modal" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#LoginModal">{% trans "Log in" %}</button>

<div class="modal fade white-text" id="LoginModal" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5 " id="staticBackdropLabel">{% trans "Log in" %}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
            
                <div class="alert alert-danger d-none" role="alert" id="error_L"></div>

                <form action="{% url 'login' %}" method="post" id="LForm">{% csrf_token %}
                    <div class="mb-3">
                      <label for="{{ login.username.id_for_label}}" class="form-label">{{ login.username.label }}</label>
                      {% render_field login.username type="text" class="form-control" spellcheck='false' autocomplete='email' %}
                    </div>

                    <div class="mb-3">
                      <label for="{{ login.password.id_for_label}}" class="form-label">{{ login.password.label }}</label>
                      {% render_field login.password type="password" class="form-control" autocomplete='current-password' %}
                    </div>

                    <div class="d-flex justify-content-between">
                        <div class="form-check">
                            <label for="{{ login.remember_me.id_for_label }}" class="form-check-label">{{ login.remember_me.label }}</label>
                            {% render_field login.remember_me type="checkbox" class="form-check-input" checked='true' %}
                        </div>
                        <div>
                            <a class="reference" href="{% url 'password_reset' %}">{% trans "Forgot password?" %}</a>
                        </div>
                    </div>
                </form> 
            </div>

            <div class="modal-footer">
                <a href="{% url 'signup' %}" class="btn btn-secondary" role="button">{% trans "Sign up" %}</a>
                <button type="button" class="btn btn-primary" id="LSubmit" >{% trans "Log in" %}</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/login.js' %}"></script>
